<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ice Breaker | Chat</title>

    <link rel="shortcut icon" type="image/png" href="img/icon/snow.png"/>
    <link rel="stylesheet" href="css/chat.css">

</head>
<body>

    <section id="app" class="chat">

        <aside class="user-area">
            <div v-if="user">
                <h3>{{user.name}}</h3>
                <span>{{user.title}}</span>
                <span>{{user.college_degree}}</span>
                <span>{{user.research}}</span>
                <span>{{user.work_location}}</span>
                <span v-if="getAge(user.birth)">{{getAge(user.birth)}} anos</span>
                <span>{{user.email}}</span>
                <span>{{user.nationality}}</span>
            </div>
            <a class="link" v-on:click="signOut">Sair</a>
        </aside>

        <main class="chat-area">
            <header class="chat-header">
            Ice Breaker | Chat principal
            <small v-if="status" :style="{ color: status.color }">{{status.text}}</small>
            </header>
            <div class="chat-history" id="messages">
                <ul class="messages" v-cloak>
                    <li v-if="messages.length >= 20 && hasMore">
                        <a v-on:click="getMoreMessages()" class="link get-more-messages">Ver mais</a>
                    </li>
                    <li class="message" 
                    v-for="message in messages"
                    v-bind:class="{ messageright: user.id == message.id_user }">
                        <div class="message-header">
                            <i 
                                class="seen-icon icon" 
                                v-if="whoSeen(message.seen)"
                                v-on:mouseover="message.seeWho = true; app.$forceUpdate()"></i>
                            <span class="message-header-time" v-if="message.date">{{toDate(message.date)}}</span>
                            <strong class="message-header-user" v-if="message.name">{{ message.name }}</strong>
                        </div>
                        <div 
                            class="seen-who" 
                            v-if="message.seeWho === true"
                            v-bind:class="{ seemore: removeDuplicatesSeen(message.seen).length > 3 }"
                            v-on:click="message.seeMore = message.seeMore === true ? false : true; app.$forceUpdate()">
                                <i class="eye-icon icon"></i>
                                <span v-if="message.seeMore">{{whoSeen(message.seen, true)}}</span>
                                <span v-else>{{whoSeen(message.seen)}}</span>
                        </div>
                        <p class="message-body">
                            {{message.text}}
                        </p> 
                    </li>
                </ul>
            </div>
            <div class="new-message">
                <textarea placeholder="Escreva sua mensagem..." class="input-text" v-model="text"
                @keyup.enter="sendMessage"></textarea>
                <button class="btn" v-on:click="sendMessage">Enviar</button>
            </div>

            <warning :loading="loading" :error="error"></warning>
        </main>

    </section>

    <script type="text/javascript" src="js/lib/vue.min.js"></script>
    <script src="js/lib/axios.min.js"></script>
    <script type="text/javascript" src="js/constants.js"></script>
    <script type="text/javascript" src="js/chat.js"></script>
    <script type="text/javascript" src="js/components/warning.js"></script>

</body>
</html>